@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div role="status" style="padding-bottom: 1em;">
    Welcome to your new app.
</div>

<FluentButton OnClick="HelloButton" Appearance="Appearance.Accent">Hello world!</FluentButton>
